
 <h3>Cart</h3>

 <div class="cart-item" *ngFor="let item of items">
   <span>{{ item.name }}</span>
   <span>{{ item.price | currency }}</span>
 </div>



 
 <p>
   <a routerLink="/shipping" > shipping cost </a>
 </p>

 <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)"> 
   <div>
      <label for="name">
        Name
      </label>
      <input id="name" type="text" formControlName="name">
    </div>

    <div>
       <label for="address">
         Address 
       </label>
       <input type="address" type="text" formControlName="address">
    </div>
   
   <button class="button" type="submit" >
      Purchase
   </button>
 </form>